@model BookDetailsViewModel

@{
    ApplicationUser currentUser = ViewData["CurrentUser"] as ApplicationUser;
    Book book = ViewData["Book"] as Book;

    bool isBookAvailable = book.isAvailable; // Assuming isAvailable indicates the availability of the book
    bool isUserBorrowedBook = currentUser != null && currentUser.BookId == book.Id && currentUser.HasBorrowedBook; // Checking if the current user has borrowed the book
}
<div class="card shadow border-0 mt-4">
    <div class="card-header ml-0 py-3">
        <div class="row">
            <div class="col-2">
                <a asp-controller="Home" asp-action="Index" class="btn btn-transparent bg-secondary"><i class="bi bi-arrow-left"></i> Cofnij</a>
            </div>
        </div>
    </div>
    <table>
        <tbody>
            <div class="card-body p-4">
                <div class="row mb-2 shadow" style="background-color: white; border: 1px solid #ccc; border-radius: 8px; padding: 2px;">
                    <div class="col-md-2">
                        <div class="text-center" style="width: 200px; height: 300px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden; margin-left: 2px; margin-top: 10px; margin-bottom: 2px; margin-right: 2px">
                            <img src="@Model.Book.ImageUrl" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                    </div>
                    <div class="col-md-9" style=" padding: 5px; margin: 10px; overflow: hidden; text-overflow: ellipsis;">
                        <div class="row mb-2">
                            <div class="col-md-6 mb-2" style="color:black">
                                <strong style="font-size: 20px; margin-left: 20px;">@Model.Book.Title - @Model.Book.Author</strong>
                            </div>
                            <div class="col-md-6 mb-2 text-end" style="color:black; text-shadow: 1px 1px 2px rgba(0,0,0,0.5);">
                                <strong style="font-size: 20px; margin-left: 20px;">@(Model.Book.UserRating.ToString("0.0")) /10 <i class="bi bi-star-fill"></i></strong>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="mb-2" style="  solid #ccc; border-radius: 8px; padding: 5px; margin-left: 20px; margin-top: 30px; overflow: hidden; text-overflow: ellipsis; font-size: 20px;">
                                    <strong style="font-size: 20px; color:black">Opis:</strong>
                                    @Model.Book.Description
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a asp-area="Customer" asp-controller="Home" asp-action="CreateReview" asp-route-userId="@User.Identity.Name" asp-route-bookId="@Model.Book.Id" class="btn btn-secondary border form-control"
                           style="width: fit-content; margin-top: 10px; margin-bottom: 10px; block-size: max-content; font-size: 20px;">
                            Dodaj komentarz
                        </a>
                    </div>
                    <div class="col-md-9 text-end">
                        @if (isBookAvailable && !isUserBorrowedBook)
                        {
                            <form method="post" asp-controller="Home" asp-action="BorrowBook" asp-route-id="@Model.Book.Id">
                                <input type="hidden" name="userId" value="@User.Identity.Name" />
                                <button type="submit" class="btn btn-info mx-2" style="margin-top: 10px; margin-bottom: 10px; block-size: max-content; font-size: 20px;">Wypożycz</button>
                            </form>
                        }
                        else if (isUserBorrowedBook)
                        {
                            <form method="post" asp-controller="Home" asp-action="ReturnBook" asp-route-id="@Model.Book.Id">
                                <input type="hidden" name="userId" value="@User.Identity.Name" />
                                <button type="submit" class="btn btn-warning mx-2" style="margin-top: 10px; margin-bottom: 10px; block-size: max-content; font-size: 25px;">Oddaj</button>
                            </form>
                        }
                        else
                        {
                            <button type="button" class="btn btn-secondary mx-2"
                                    style="margin-top: 10px; margin-bottom: 10px; block-size: max-content; font-size: 25px;" disabled>
                                Niedostępna
                            </button>
                        }
                    </div>                    
                </div>
                
            </div>
            <table class="table">
                <tbody>
                    <div class="col-md-12">
                        <strong style="font-size: 20px; margin: 10px">Opinie:</strong>
                    </div>
                    @foreach (var obj in Model.Reviews.OrderBy(u => u.Title))
                    {
                        <tr>
                            <td class="row mb-2 shadow" style="border: 1px solid #ccc; border-radius: 8px; padding: 2px; margin: 10px;">
                                <div class="col-md-12">
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <strong>@obj.Title</strong>
                                        </div>
                                        <div class="col-md-6 text-end" style="color:black">
                                            <strong>@obj.Date.ToString("dd-MM-yyyy")</strong>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            @obj.Rating/10 <i class="bi bi-star-fill"></i>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            @obj.UserId
                                        </div>
                                    </div>
                                    <div style=" border: 1px solid #ccc; border-radius: 8px; padding: 5px; margin-top: 5px; overflow: hidden; text-overflow: ellipsis; height: 134px;">
                                        @{
                                            const int maxLength = 550;
                                            if (obj.Content.Length > 550)
                                            {
                                                int lastSpaceIndex = obj.Content.LastIndexOf(' ', maxLength);
                                                string trimmedDescription = obj.Content.Substring(0, lastSpaceIndex);
                                                <text>@trimmedDescription...</text>
                                            }
                                            else
                                            {
                                                @obj.Content
                                            }
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </tbody>
    </table>
</div>
