@model List<ApplicationUser>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="coll-12 text-center">
                <h2 class="py-2">Użytkownicy</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table class="table table-bordered table-striped bg-light">
            <thead>
                <tr>
                    <th>
                        <strong>Nazwa</strong>
                    </th>
                    <th>
                        <strong>Rola</strong>
                    </th>
                    <th>
                        <strong> Wypożyczona książka</strong>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.UserName))
                {
                    <tr>
                        <td>
                            @obj.UserName
                        </td>
                        <td>
                            @obj.Role
                        </td>
                        <td>
                            @if (obj.HasBorrowedBook == true)
                            {
                                @obj.Book.Title
                            }
                            else
                            {
                                <strong>-</strong>
                            }
                        </td>
                        <td>
                            <div class="text-end col-md-12" role="group">
                                <div class="row">
                                    <div class="col-md-9 text-end">
                                        @if (obj.LockoutEnd != null && obj.LockoutEnd > DateTime.Now)
                                        {

                                            <form method="post" asp-controller="UserManager" asp-action="LockUnlock">
                                                <input type="hidden" name="id" value="@obj.Id" />
                                                <button type="submit" class="btn btn-danger mx-2">
                                                    <i class="bi bi-lock"></i> Locked
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" asp-controller="UserManager" asp-action="LockUnlock">
                                                <input type="hidden" name="id" value="@obj.Id" />
                                                <button type="submit" class="btn btn-success mx-2">
                                                    <i class="bi bi-unlock"></i> Unlocked
                                                </button>
                                            </form>
                                        }
                                    </div>
                                    <div class="col-md-3">
                                        <a asp-controller="UserManager" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-secondary mx-2">
                                            Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


